#page-map{
    width: 98.7vw;
    height: 45.5vw;
    position: relative;
    display: flex; /* div aside ao lado do mapa */
}
/* Barra Lateral */
#page-map aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaço entre Header e Footer */
}
#page-map aside h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}
#page-map aside p{
    line-height: 28px;
    margin-top: 24px;
}
#page-map aside footer{
    display: flex;
    flex-direction: column; /* Joga o nome do estado para baixo do nome da cidade */
    line-height: 24px;
}
#page-map aside footer strong{
    font-weight: 800;
}

/* Estilizar Mapa*/
#page-map .leaflet-container{
    z-index: 5;
}

/* Botão + */
#page-map .create-orphanage{
    position: absolute;
    right: 0    ;
    bottom: 0;

    z-index: 10;

    height: 64px;
    width: 64px;
    background-color: #16c3d6;
    border-radius: 20px;
    
    display: flex; /* permite a centralização de itens */
    align-items: center; /* centraliza horizontalmente */ 
    justify-content: center; /* centraliza verticalmente */ 

    transition: background-color 0.2s;
}
#page-map .create-orphanage:hover{
    background-color: #17d6eb;

}

/* estilização do popup ao clicar no marker */
#page-map .map-popup .leaflet-popup-content-wrapper{
    background: white;
    border-radius: 20px;
    box-shadow: 4px 4px 5px lightsalmon;
}

/* estilização do texto do popup */
#page-map .map-popup .leaflet-popup-content{
    color: #0089a5;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* estilização do LINK do popup */
#page-map .map-popup .leaflet-popup-content a{
    width: 40px;
    height: 40px;
    background: #15c3d6;
    box-shadow: 16px 26px 40px rgba(23,142,166,0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilização do X do popup */
#page-map .map-popup .leaflet-tip-container{
   display: none;
}

